body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

h3{
    font-weight: bold;
    font-size: 1em;
}

p{
    margin-top: auto;
    margin-bottom: auto;
}

.empresa{
    font-weight: bold;
}

.curso{
    font-style: italic;
}

.container-fluid, .container{
    padding: 2em;
}

.conocimiento{
    margin-top: auto;
    margin-bottom: auto;
}

.conocimientos li{
    color: #000000;
}

.contenedor, .contenedor li{
    background-color: #393d42;;
    color: white;
}

#conocimientos{
    height: 100%;
}

#perfil{
    text-align: justify;
}

#tituloEstudios, #tituloReferenciasLaborales {
    margin-top: 2em;
    margin-bottom: 2em;
}

#infoPersonal{
    background-color: #393d42;
}

#infoPersonal h1, #infoPersonal h2, #infoPersonal h3, #infoPersonal p{
    color: white;
}